body {
  background: #718D26;
  height: 100%; }

header.site-header {
  background: #F4FFD7; }

section#about {
  background: #F4FFD7; }

#hero .container {
  border-right: 2px solid white;
  padding-right: 10px; }

#hero * {
  text-align: right; }

#hero h2.hero-large-text {
  font-size: 3rem; }
