$lightGreenColor : #F4FFD7;
$whiteColor : #FFFFFF;
$pinkColor : #FE93BF;
$greenColor : #718D26;



body {
	background: $greenColor;
	height: 100%;
}

header.site-header{
	background: $lightGreenColor;
}

section{
	&#about {
		background: $lightGreenColor;

		> .container {
			margin-top: 4.375rem;
		}

	}
}

#hero {
	.container {
		border-right: 2px solid $lightGreenColor;
		padding-right: 10px;
	}

	* {
		text-align: right;
	}

	h2.hero-large-text {
		font-size: 3rem;
		color: $lightGreenColor;
	}

	.hero-small-text {
		font-size: .7rem;
	}

	.btn-theme-primary {
		background: $pinkColor;
		color: $whiteColor;

	}

	.btn-secondary-outline {
		color: $pinkColor;
		border-color: $pinkColor;
	}

}

#about {
	.wow {
		text-align: center;
	}
}